.box-update-green{
  height: 50px;
  width: 100%;
  background: rgba(131, 199, 39, 0.77);
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}
.update-profile-account{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 5px;
}
.update-profile-account .FlipCameraIosIcon{
  background: rgb(228, 231, 228);
  color: green;
  border-radius: 50%;
  padding: 5px;
  margin-top: -35px;
  margin-left: 60px;
  cursor: pointer;
}
.update-profile-account img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
  
}
.Container-edit {
  width: 100%;
  /* height: 700px; */
  border-radius: 21px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0.1);
}
.details{
  
  justify-content: end;
  text-align: end;
  
}
.edit-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background: rgba(131, 199, 39, 0.77);
  color: white;
  text-align: center;
}



label {
  margin-bottom: 10px;
}


.Form input {
  background: rgba(242, 244, 246, 0.87);
  width: 400px;
  height: 45px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.allInput {
display: flex;
 gap: 20px;
 margin-top: 30px;
}
.detail-update-emails{
  width: 30%;
  margin-top: 30px;
  margin-left: 11%;
}
.detail-update-emails h1{
  font-size: 20px;
  justify-content: start;

}
.detail-update-emails .detail-update-email-icon{
  display: flex;
  gap: 10px;
}
.detail-update-emails .detail-update-email-icon .em-icon{
  background: rgb(228, 231, 228);
  color: green;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;

}
.detail-update-emails .detail-update-email-icon p{
  padding: 10px;
}
.update-go-back{
  height: 50px;
  width: 150px;
  margin-top: 50px;
   background: rgba(242, 244, 246, 0.87);
   color: green;
   display: flex;
   gap: 10px;
}
@media screen and  (max-width:390px) {

 .Container-edit {
  width: 100%;
  border-radius: 21px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0.1);
}
.allInput {
display: grid;
 gap: 20px;
 margin-top: 30px;
}
.Form input {
  background: rgba(242, 244, 246, 0.87);
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 2px;
  outline: none;
}
.details{
  
  justify-content: center;
  text-align: center;
  
}
.detail-update-emails{
  width: 30%;
  margin-top: 30px;
  margin-left: 1%;
  justify-content: center;
  text-align: center;
} 
.detail-update-emails h1{
  width: 300px;
 
}
.detail-update-email-icon{
   margin-left: 60px;
}
.update-go-back{
  margin-left: 80px;
  padding-bottom: 10px;
  
}
}
