.Container-edit {
  position: relative;
  width: 1200px;
  height: 510px;
  top: -90px;
  left: 10px;
  border-radius: 21px;
  background: #fff;
}
.green {
  width: 1200px;
  height: 51px;
  background: linear-gradient(
    90deg,
    rgba(131, 199, 39, 0.77) 0%,
    rgba(170, 255, 56, 0.32) 100%
  );
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}
.edit-btn {
  width: 100px;
  height: 30px;
  position: relative;
  left: 1050px;
  top: -60px;
  border-radius: 4px;
  background: rgba(131, 199, 39, 0.77);
  color: white;
  text-align: center;
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.email {
  opacity: 0.6;
  font-size: 10px;
}
.avatar {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  left: 20px;
  top: 20px;
}
label {
  margin-bottom: 10px;
}
.Form input {
  background: rgba(242, 244, 246, 0.87);
  width: 500px;
  height: 25px;
  border: none;
  border-radius: 2px;
  outline: none;
  justify-content: center;
  padding: 15px;
}
.Form input::placeholder {
  font-weight: 200;
  position: absolute;
}
.allInput {
  position: relative;
  width: 100%;

  display: flex;
  gap: 100px;
  justify-content: center;
}

.lastButton {
  background: #f4f3f3;
  color: rgba(131, 199, 39, 0.77);
  display: flex;
  gap: 10px;
  position: relative;
  text-align: center;
  width: 150px;
  top: 30px;
  left: 20px;
}

.EmailCloro {
  width: 40px;
  height: 20px;
  color: rgba(131, 199, 39, 0.77);
  position: relative;
  top: 10px;
  left: 2px;
}

.ovalEmail {
  height: 50px;
  width: 50px;
  background: #f4f3f3;
  padding-inline: 10px;
  border-radius: 50%;
}

.lastItems {
  position: relative;
  left: 30px;
}
.search {
  display: flex;
}
.Search-icon {
  position: relative;
  left: 27px;
  top: 2px;
  opacity: 0.4;
}

input::placeholder {
  font-weight: none;
  opacity: 0.5;
  color: rgb(45, 67, 54);
  font-family: enter;
}

.Profilecircle {
  width: 700px;
  height: 700px;
  color: rgb(217, 209, 209);
}

.Camera {
  position: relative;
  right: 10px;
  color: rgba(131, 199, 39, 0.77);
}
